@model IEnumerable<LConn_BugTracker.Models.TicketNotification>


<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ticket Notifications</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="col-sm-12">
                                    <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending">@Html.DisplayName("Recipient")</th>
                                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Sender")</th>
                                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Created")</th>
                                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Subject")</th>
                                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Message")</th>
                                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Read")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Recipient.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Sender.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Subject)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NotificationBody)
                                                    </td>
                                                    <td>
                                                        @if (item.IsRead)
                                                        {
                                                            @Html.CheckBoxFor(modelItem => item.IsRead, new { @checked = "checked", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            using (Html.BeginForm("MarkAsRead", "TicketNotifications", new { id = item.Id }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                <input type="checkbox" class="auth-form-btn" onclick="return confirm('Has this notification been read?')">
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsRead)
                                                        {
                                                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#Deletenote">Delete</button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <script src="~/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="typcn typcn-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

<!--Delete Notification Modal-->
<div class="modal fade" id="Deletenote" tabindex="-1" role="dialog" aria-labelledby="Delete Notification Modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this notification?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>TicketNotification</h4>
                <hr />
                <thead>
                    <tr>
                        <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending">@Html.DisplayName("Recipient")</th>
                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Sender")</th>
                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Created")</th>
                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Subject")</th>
                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Message")</th>
                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1">@Html.DisplayName("Read")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Recipient.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sender.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NotificationBody)
                            </td>
                        </tr>
                    }
                </tbody>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-outline-primary" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->