@using LConn_BugTracker.ViewModels
@using LConn_BugTracker.Helpers

@model IEnumerable<UserProfileViewModel>

@{
    ViewBag.Title = "ManageRoles";
    var roleHelper = new UserRolesHelper();
}


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manage Roles for Multiple Users</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="order-listing_length"><label>Show <select name="order-listing_length" aria-controls="order-listing" class="form-control"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="-1">All</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="order-listing_filter" class="dataTables_filter"><label><input type="search" class="form-control" placeholder="Search" aria-controls="order-listing"></label></div></div></div><div class="row">
                                        <div class="col-sm-12">
                                            <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 81px;">@Html.DisplayName("Full Name")</th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased On: activate to sort column ascending" style="width: 142px;">@Html.DisplayNameFor(model => model.Email)</th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 102px;">@Html.DisplayName("Role")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var user in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @user.LastName, @user.FirstName
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => user.Email)
                                                            </td>
                                                            <td>
                                                                @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Back To Dashboard", "Dashboard", "Home")
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="content-wrapper">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            @Html.ListBox("Users", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="col-md-offset-1 col-md-4">
                            @Html.DropDownList("RoleName", null, "-- Select Role --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="ASSIGN" class="btn btn-outline-primary btn-fw" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="typcn typcn-heart text-danger"></i></span>
            </div>
        </footer>
        <!-- partial -->
    </div>




