@using LConn_BugTracker.Helpers
@using LConn_BugTracker.Models
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html lang="en">
<head>

    @{
        var userId = User.Identity.GetUserId();
        var db = new ApplicationDbContext();
        var user = db.Users.Find(userId);
    }

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="MVC C# JS jquery HTML">
    <meta name="author" content="Lee Connelly">
    <title>LC BGTRKR</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Fonts/typicons.css" />
    <link rel="stylesheet" href="~/Fonts/simple-line-icons.css" />
    <link rel="stylesheet" href="~/Fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->

    <link rel="stylesheet" href="~/Content/fullcalendar.min.css" />
    <link rel="stylesheet" href="path-to/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <link rel="stylesheet" href="~/Content/chartist.min.css" />
    <link rel="stylesheet" href="~/Content/morris.css" />
    <link rel="stylesheet" href="~/Content/c3.min.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Images/favicon-96x96.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/Images/LC_BT Logo (3).png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Images/logo-mini.svg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item  d-none d-lg-flex">
                        <div class="m-5">@DateTime.Now.ToString("dddd, dd MMMM yyyy HH:mm:ss")</div>
                    </li>
                </ul>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item  d-none d-lg-flex">
                        <a class="nav-link icon-calendar" href="@Url.Action("Calendar","Home")">
                            Calendar
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-flex  mr-2">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>

                    <li class="nav-item dropdown d-flex">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="icon-bell"></i>
                            <span class="count bg-success">@NotificationHelper.GetAllUserNoticationCount()</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <div class="preview-item-content flex-grow">
                                <ul>
                                    @foreach (var notification in NotificationHelper.GetUnreadUserNotifications())
                                    {
                                        <li>
                                            <hr size=3 />
                                            @using (Html.BeginForm("MarkAsRead", "TicketNotifications"))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("Id", notification.Id)
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <figure class="image">
                                                            <img src="@notification.Sender.AvatarUrl" alt="@notification.Sender.Email" class="img-circle" width="25" />
                                                        </figure>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <span class="title">@notification.Subject</span>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="message text-justify"><b>@notification.NotificationBody</b></span>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <button type="submit" class="btn btn-sm btn-outline-primary">Mark as read</button>
                                                    </div>
                                                </div>
                                            }
                                        </li>
                                    }
                                </ul>
                                <hr />
                                <div class="form-group text-right">
                                    <div class="btn btn-sm btn-outline-secondary btn-fw">
                                        <a href="@Url.Action("MyNotifications", "TicketNotifications")" class="view-more">View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                            <i class="icon-user-following mr-0"></i>
                            <span class="nav-profile-name">@user.DisplayName</span>
                            <span class="role">, @user.Email</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="@Url.Action("EditProfile","Members")">
                                <i class="icon-settings text-primary"></i>
                                Edit Profile
                            </a>
                            <a class="dropdown-item" href="@Url.Action("SpecialLogOff","Account")">
                                <i class="icon-power text-primary"></i>
                                Log Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="typcn typcn-th-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="d-flex sidebar-profile">
                    <div class="sidebar-profile-image">
                        @if (user.AvatarUrl != null)
                        {
                            <img src="@user.AvatarUrl" alt="@user.FullName" class="img-circle" data-lock-picture="@user.AvatarUrl">
                        }

                        <span class="sidebar-status-indicator"></span>
                    </div>
                    <div class="sidebar-profile-name">
                        <p class="sidebar-name">
                            <span class="name">@user.DisplayName</span>
                        </p>
                        <p class="sidebar-designation">
                            Welcome
                        </p>
                    </div>
                </div>

                <ul class="nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon-user menu-icon"></i>
                                <span class="menu-title">Admin</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("ProjectManager"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon-user menu-icon"></i>
                                <span class="menu-title">Project Manager</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("Developer"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon-user menu-icon"></i>
                                <span class="menu-title">Developer</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("Submitter"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon-user menu-icon"></i>
                                <span class="menu-title">Submitter</span>
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                            <i class="icon-screen-desktop menu-icon"></i>
                            <span class="menu-title">Dashboard </span>
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
                                <i class="icon-user menu-icon"></i>
                                <span class="menu-title">Administrator</span>
                                <i class="typcn typcn-chevron-right menu-arrow"></i>
                            </a>
                            <div class="collapse" id="admin">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("UserIndex","Admin")">User Index</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("ManageRoles","Admin")">Manage Roles</a></li>
                                </ul>
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#projs" aria-expanded="false" aria-controls="projs">
                            <i class="icon-notebook menu-icon"></i>
                            <span class="menu-title">Projects</span>
                            <i class="typcn typcn-chevron-right menu-arrow"></i>
                        </a>
                        <div class="collapse" id="projs">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Projects")">Project Index</a></li>
                                @if ((User.IsInRole("Admin")) || (User.IsInRole("ProjectManager")))
                                {
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create", "Projects")">Create a Project</a></li>
                                }
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ticks" aria-expanded="false" aria-controls="ticks">
                            <i class="icon-tag menu-icon"></i>
                            <span class="menu-title">Ticket Management</span>
                            <i class="typcn typcn-chevron-right menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ticks">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Tickets")">Ticket List</a></li>
                                @if (User.IsInRole("Submitter"))
                                {
                                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Create", "Tickets")">Create a Ticket</a></li>
                                }
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TicketAttachments")">Ticket Attachments</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","TicketNotifications")">Notifications</a></li>
                            </ul>
                        </div>
                    </li>




                </ul>
                <ul class="sidebar-legend">
                    <li>
                        <p class="sidebar-menu-title">Category</p>
                    </li>
                    <li class="nav-item"><a href="@Url.Action("Index","Tickets")" class="nav-link">Tickets</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Projects")" class="nav-link">Projects</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a href="@Url.Action("UserIndex","Admin")" class="nav-link">Users</a></li>
                    }

                </ul>
            </nav>
            <!-- partial -->

            @RenderBody()

            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/Scripts/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Scripts/off-canvas.js"></script>
    <script src="~/Scripts/hoverable-collapse.js"></script>
    <script src="~/Scripts/template.js"></script>
    <script src="~/Scripts/settings.js"></script>
    <script src="~/Scripts/todolist.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/paginate.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/Scripts/progressbar.min.js"></script>
    <script src="~/Scripts/chart.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/chartist.min.js"></script>
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/curvedLines.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/c3.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/Scripts/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!--Data Tables-->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/data-table.js"></script>
    <script>
        $('searchTbl').DataTable({
            dom: 'Bfrtip',
            buttons: ['copy', 'excel', 'pdf']
        });
    </script>


    @RenderSection("scripts", required: false)
</body>

</html>

