@model LConn_BugTracker.Models.Ticket


<!DOCTYPE html>



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-speedometer icon-md"> Priority</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-reddit h2 card-text">@Model.TicketPriority.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-tag icon-md"> Title</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-info h2 card-text">@Model.Title</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-notebook icon-md"> Project</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-success h2 card-text">@Model.Project.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-hourglass icon-md"> Status</i>
                                <div class="d-flex justify-content-between">
                                    <p class="text-muted">New / UnAssigned</p>
                                    <p class="text-muted">UnAssigned</p>
                                    <p class="text-muted">New / Assigned</p>
                                    <p class="text-muted">Assigned</p>
                                    <p class="text-muted">In Progress</p>
                                    <p class="text-muted">Completed</p>
                                </div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="@Model.TicketStatus" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-clock icon-md"> Date Created</i>
                                <div class="ml-5">
                                    <p class="mt-2 text-lg-center text-info h2 card-text">@Model.Created<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-clock icon-md"> Last Updated</i>
                                <div class="ml-5">
                                    <p class="mt-2 text-lg-center text-reddit h2 card-text">@Model.Updated<p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-md-left align-items-center">
                            <img src="@Model.OwnerUser.AvatarUrl" class="img-lg" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Submitter</p>
                                <p class="mb-0">@Model.OwnerUser.FullerName</p>
                                <p class="text-muted mb-1">@Model.OwnerUser.Email</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <img src="@User.IsInRole("Project Manager")" class="img-lg" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Project Manager</p>
                                <p class="mb-0">@Model.AssignedToUser.FullerName</p>
                                <p class="text-muted mb-1">@Model.AssignedToUser.Email</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <img src="../../../../images/faces/face12.jpg" class="img-lg rounded" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Developer(s)</p>
                                <h6 class="mb-0">@Model.AssignedToUser.FullerName</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <i class="icon-tag icon-md"> Description</i>
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">

                                <p class="mb-lg-0 text-info font-weight-bold">@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <i class="icon-bubble icon-md"> Comments @Model.TicketComments.Count()</i>
                        <br />


                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Id", Model.Id)
                                    @Html.Hidden("TicketId", Model.Id)
                                    @Html.Hidden("AuthorId", User.Identity.Name)

                                    <div class="form-group">
                                        <label for="CommentBody">Enter Comments Here</label>
                                        <div class="form-group">
                                        </div>
                                        <textarea class="form-control" name="CommentBody" rows="4"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-4">
                                            <input type="submit" value="Submit" class="btn btn-outline-success btn-fw" />
                                        </div>
                                    </div>
                                }
                            }
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <div id="order-listing wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            <div class="col-sm-12">
                                                <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayName("Commentor")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Created")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Comment")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @comment.Author.FullName
                                                                </td>
                                                                <td>
                                                                    @comment.Created.ToString()
                                                                </td>
                                                                <td>
                                                                    <p class="card-text">@comment.CommentBody</p>
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "TicketComments", new { id = comment.Id }, new { @class = "btn btn-sm btn-outline-danger" })
                                                                </td>
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="icon-pin icon-md"> Attachments</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        <div class="col-sm-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ticket History</h4>
                                <p class="card-description">A simple timeline</p>
                                <div class="mt-5">
                                    <div class="timeline">
                                        <div class="timeline-wrapper timeline-wrapper-warning">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Beta</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Two years in the making, we finally have our first beta release of Bootstrap 4.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>19</span>
                                                    <span class="ml-md-auto font-weight-bold">19 Oct 2017</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Alpha 6</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Alpha 6 has landed, and it’s one of our biggest ships to date.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>25</span>
                                                    <span class="ml-md-auto font-weight-bold">10th Aug 2017</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-wrapper-success">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Alpha 5</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Alpha 5 has arrived just over a month after Alpha 4 with some major feature improvements and a boat load of bug fixes.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>19</span>
                                                    <span class="ml-md-auto font-weight-bold">5th Sep 2016</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Alpha 4</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Alpha 4 is here to address those pesky build and package errors, a few CSS bugs, and some documentation inconsistencies we introduced in our last release.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>19</span>
                                                    <span class="ml-md-auto font-weight-bold">27th July 2016</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-wrapper-primary">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Alpha 3</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Alpha 3 has landed! We have an overhauled grid, updated form controls, a new font stack, tons of bug fixes, and more.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>25</span>
                                                    <span class="ml-md-auto font-weight-bold">25th July 2016</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 Alpha 2</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>The general plan for v4’s development starts with a few alpha releases. We’re a little behind on that, but should be getting caught up as the year winds down.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>32</span>
                                                    <span class="ml-md-auto font-weight-bold">19th Aug 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-wrapper timeline-wrapper-success">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title">Bootstrap 4 alpha 1</h6>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Bootstrap 4 has been a massive undertaking that touches nearly every line of code.</p>
                                                </div>
                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <i class="typcn typcn-upload text-success text-muted mr-1"></i>
                                                    <span>26</span>
                                                    <span class="ml-md-auto font-weight-bold">15th Jun 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- content-wrapper ends -->
        <script src="~/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="typcn typcn-heart text-danger"></i></span>
            </div>
        </footer>
        <!-- partial -->
    </div>
</div>


@section scripts{
    <script>
        var msg = '@TempData["Message"]';
        if (msg != "")
        {
            Swal.fire({
                type: 'error',
                title: 'Sorry...',
                text: msg
            })

        }
    </script>

}