@model LConn_BugTracker.Models.Ticket


<!DOCTYPE html>



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-speedometer icon-md"> Priority</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-reddit h2 card-text">@Model.TicketPriority.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-tag icon-md"> Title</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-info h2 card-text">@Model.Title</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin">
                <div class="card d-flex align-items-center">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <i class="icon-notebook icon-md"> Project</i>
                            <div class="ml-5">
                                <p class="mt-2 text-lg-right text-success h2 card-text">@Model.Project.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-hourglass icon-md"> Status</i>
                                <div class="d-flex justify-content-between">
                                    <p class="text-muted">New / UnAssigned</p>
                                    <p class="text-muted">UnAssigned</p>
                                    <p class="text-muted">New / Assigned</p>
                                    <p class="text-muted">Assigned</p>
                                    <p class="text-muted">In Progress</p>
                                    <p class="text-muted">Completed</p>
                                </div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="@Model.TicketStatus" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-clock icon-md"> Date Created</i>
                                <div class="ml-5">
                                    <p class="mt-2 text-lg-center text-info h2 card-text">@Model.Created<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-clock icon-md"> Last Updated</i>
                                <div class="ml-5">
                                    <p class="mt-2 text-lg-center text-reddit h2 card-text">@Model.Updated<p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-md-left align-items-center">
                            <img src="@Model.OwnerUser.AvatarUrl" class="img-lg" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Submitter</p>
                                <p class="mb-0">@Model.OwnerUser.FullerName</p>
                                <p class="text-muted mb-1">@Model.OwnerUser.Email</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <img src="@User.IsInRole("Project Manager")" class="img-lg" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Project Manager</p>
                                <p class="mb-0">@Model.AssignedToUser.FullerName</p>
                                <p class="text-muted mb-1">@Model.AssignedToUser.Email</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <img src="../../../../images/faces/face12.jpg" class="img-lg rounded" alt="profile image">
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                <p class="mb-0 text-warning font-weight-bold">Developer(s)</p>
                                <h6 class="mb-0">@Model.AssignedToUser.FullerName</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                            <i class="icon-tag icon-md"> Description</i>
                            <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">

                                <p class="mb-lg-0 text-info font-weight-bold">@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <i class="icon-bubble icon-md"> Comments @Model.TicketComments.Count()</i>
                        <br />


                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Id", Model.Id)
                                    @Html.Hidden("TicketId", Model.Id)
                                    @Html.Hidden("AuthorId", User.Identity.Name)

                                    <div class="form-group">
                                        <label for="CommentBody">Enter Comments Here</label>
                                        <div class="form-group">
                                        </div>
                                        <textarea class="form-control" name="CommentBody" rows="4"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-4">
                                            <input type="submit" value="Submit" class="btn btn-outline-success btn-fw" />
                                        </div>
                                    </div>
                                }
                            }
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <div id="order-listing wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            <div class="col-sm-12">
                                                <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayName("Commentor")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Created")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Comment")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @comment.Author.FullName
                                                                </td>
                                                                <td>
                                                                    @comment.Created.ToString()
                                                                </td>
                                                                <td>
                                                                    <p class="card-text">@comment.CommentBody</p>
                                                                </td>
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "TicketComments", new { id = comment.Id }, new { @class = "btn btn-sm btn-outline-danger" })
                                                                </td>
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="icon-pin icon-md"> Attachments</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        <div class="col-sm-12">
                                            <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayName("Commentor")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Created")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Comment")
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @comment.Author.FullName
                                                            </td>
                                                            <td>
                                                                @comment.Created.ToString()
                                                            </td>
                                                            <td>
                                                                <p class="card-text">@comment.CommentBody</p>
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Edit", "Edit", "TicketComments", new { id = comment.Id }, new { @class = "btn btn-sm btn-outline-danger" })
                                                            </td>
                                                        </tr>

                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ticket Details</h4>
                        <p class="card-description">
                            Details
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                @Html.DisplayFor(model => model.AssignedToUser.FirstName)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.AssignedToUser.FirstName)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.OwnerUser.FirstName)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.OwnerUser.FirstName)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayFor(model => model.Project.Name)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.Project.Name)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.TicketPriority.Name)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.TicketPriority.Name)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.TicketStatus.Name)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.TicketStatus.Name)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.TicketType.Name)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.TicketType.Name)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.Title)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Title)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.Description)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Description)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.Created)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Created)
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.Updated)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Updated)
                            </div>

                        </form>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>



        </div>
        <!-- content-wrapper ends -->
        <script src="~/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="typcn typcn-heart text-danger"></i></span>
            </div>
        </footer>
        <!-- partial -->
    </div>
</div>


@section scripts{
    <script>
        var msg = '@TempData["Message"]';
        if (msg != "")
        {
            Swal.fire({
                type: 'error',
                title: 'Sorry...',
                text: msg
            })

        }
    </script>

}