@using LConn_BugTracker.Helpers
@model IEnumerable<LConn_BugTracker.Models.Ticket>



@{
    ViewBag.Title = "Index";
    var ticketDecisionHelper = new TicketDecisionHelper();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ticket List</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="col-sm-12">
                                        <table id="order-listing" class="table dataTable table-striped" role="grid" aria-describedby="order-listing_info">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("Developer")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Submitter")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Project")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Priority")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Status")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Title)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Created)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Updated)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OwnerUser.DisplayName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Created)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Updated)
                                                        </td>
                                                        <td>
                                                            @if (ticketDecisionHelper.Equals(TicketDecisionHelper.TicketIsEditableByUser (item)))
                                                            {
                                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                                            }

                                                            <div class="btn btn-outline-secondary btn-fw">@Html.ActionLink("Details", "Details", new { id = item.Id })</div>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <script src="~/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="typcn typcn-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@section scripts{
    <script>
        var msg = '@TempData["Message"]';
        if (msg != "")
        {
            Swal.fire({
                type: 'error',
                title: 'Sorry...',
                text: msg
            })

        }
    </script>
    
    }